/* General */
body {
	/*Custom Properties*/
	--header-background-color: #0074d9;
	--main-background-color: #ffffff;
	--main-background-accent-color: #dddddd;
	--main-text-color: #111111;
	--error-text-color: #ff4136;

	color: var(--main-text-color);
	font-family: sans-serif;
	line-height: 1.25;
}

/* Header */
.c-header {
	font-weight: 300;
	text-align: center;
}

.c-header__title,
.c-header__subtitle {
	margin: 9px 0;
}

/* Table */
.l-table-container {
	margin: 0 auto;
	width: 100%;
}

.c-table {
	border: 1px solid transparent;
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
}

.c-table__tr {
	background-color: var(--main-background-color);
	border: 1px solid var(--main-background-accent-color);
	padding: 0;
}

.c-table__tr:first-of-type {
	border-bottom: 1px solid var(--main-background-accent-color);
	border-top: none;
}

.c-table__tr:nth-child(odd) {
	--main-background-color: #f8f8f8;
	background-color: var(--main-background-color);
}

.c-table__td {
	padding: 3px 0;
	text-align: center;
}

.c-table__td--font-300 {
	font-weight: 300;
}

.c-table__td--image {
	align-items: center;
	display: flex;
	justify-content: center;
}

.c-table__th {
	background-color: var(--header-background-color);
	padding: 0;
}

.c-table__image {
	border-radius: 50%;
	height: 42px;
	width: 42px;
}

.c-table__button {
	--main-text-color: #ffffff;

	align-items: stretch;
	background-color: var(--header-background-color);
	border: 1px transparent solid;
	color: var(--main-text-color);
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	justify-content: center;
	letter-spacing: 1px;
	padding: 10px 0;
	text-transform: uppercase;
	width: 100%;
}

.c-table__button:hover {
	--header-background-color: #005fb2;

	background-color: var(--header-background-color);
}

.c-table__button:active,
.c-table__button:focus {
	--header-background-color: #005fb2;

	background-color: var(--header-background-color);
	outline-color: #003666;
}

.c-table__button--asc::after,
.c-table__button--desc::after {
	margin-left: 2px;
}

.c-table__button--asc::after {
	content: '\25b4';
	display: inline-block;
}

.c-table__button--desc::after {
	content: '\25be';
	display: inline-block;
}

.c-table__button--asc,
.c-table__button--desc {
	--header-background-color: #005fb2;
	background-color: var(--header-background-color);
}

.c-table__button--icon {
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
	/* Now click events will default to the button element */
	pointer-events: none;
}

/* Loading Screen */
.l-loading-container {
	--main-background-color: #f8f8f8;

	align-items: center;
	background-color: var(--main-background-color);
	display: flex;
	height: 80vh;
	justify-content: center;
	width: 100%;
}

.is-loading {
	display: flex;
	height: 15px;
	position: relative;
	width: 105px;
}

.is-loading__dot {
	animation: move 700ms linear 0ms infinite;
	background-color: var(--header-background-color);
	border-radius: 50%;
	height: 15px;
	margin-right: 30px;
	width: 15px;
}

.is-loading__dot:first-child {
	animation: grow 700ms linear 0ms infinite;
	left: 0;
	position: absolute;
	top: 0;
}

.is-loading__dot:last-child {
	animation: grow 700ms linear 0s infinite reverse;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.has-error {
	color: var(--error-text-color);
	font-weight: 700;
	padding: 6px 0;
}

/* Keyframes */
@keyframes grow {
	from {
		opacity: 0;
		transform: scale(0, 0);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes move {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(45px);
	}
}

/* Mobile View */
@media screen and (max-width: 768px) {
	.c-header__subtitle {
		display: none;
	}

	.c-table {
		border: 0;
	}

	.c-header__title {
		font-size: 1.5rem;
		margin: 16px 0;
	}

	.c-table__head {
		display: none;
	}

	.c-table__tr {
		border: 2px solid var(--main-background-accent-color);
		display: block;
		margin: 0 8px 0.625em 8px;
	}

	.c-table__tr:first-of-type {
		border-top: 1px solid var(--main-background-accent-color);
	}

	.c-table__td {
		align-items: center;
		border-bottom: 1px solid var(--main-background-accent-color);
		display: flex;
		justify-content: space-between;
		font-size: 0.8rem;
		padding: 4px 12px;
		text-align: right;
	}

	.c-table__td::before {
		content: attr(data-label);
		font-weight: bold;
		text-transform: uppercase;
	}

	.c-table__td:last-child {
		border-bottom: 0;
	}
}
